*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Century Gothic", sans-serif;
    background: #a6f2ff;
}

.login-box{
    width: 320px;
    height: 420px;
    background: transparent;
    color: #000;
    top: 50%;
    left: 30%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    border-radius: 10%;
    padding: 70px 30px;  
}

h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
    
}

.login-box p{
    margin: 0;
    padding: 0;
    font-weight: bold;
    
}

.login-box input{
    width: 100%;
    margin-bottom: 15px;
}

.login-box input[type="text"], input[type="password"]
{
    border: none;
    border-bottom: 1px solid  #fff5ff;
    background: transparent;
    outline: none;
    height: 40px;
    font-size: 16px;
    font-family: Serif ;
}

.login-box input[type="submit"]
{
    border: none;
    outline: none;
    height: 30px;
    background: #8080b2;
    color: #fff5ff;
    font-size: 18px;
    font-family: Serif ;
    border-radius: 12px;
}

.login-box input[type="submit"]:hover
{
    cursor: pointer;
    background: #6666ff;
    color: #fff5ff;
}

.login-box a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
}

.login-box a:hover{
    color: #fff5ff;
}

@media screen and (max-width: 770px)
{
    .login-box{
       /* width: 320px;
        height: 420px;*/
        top: 50%;
        left: 50%;
    }
}
#sideNav{
    width: 150px;
    height: 100vh;
    position: fixed;
    right: -250px;
    top:0;
    background: black;
    z-index: 2;
    transition: 0.5s;
}

nav ul li{
    list-style: none;
    margin: 50px 20px;
}

nav ul li a{
    text-decoration: none;
    color: white;
}

#menuBtn{
    width:  50px;
    height: 50px;
    background: black;
    text-align: center;
    position: fixed;
    right: 30px;
    top: 20px;
    border-radius: 3px;
    z-index: 3;
    cursor: pointer;
}

#menuBtn img{
    width: 20px;
    margin-top: 15px;
    
}

@media screen and (max-width: 770px){
    .banner-text h1{
    font-size: 44px;
    }
    .banner-btn a{
        display: block;
        margin: 20px auto;
    }
}

table{
    border: 1px solid black;
    border-collapse: collapse;
    margin: auto;
    padding: 5px;
    text-align: center;
    top: 40%;
    left: 60%;
    bottom: 40%;
    position: absolute;
    transform: translate(-50%, -50%);
}


th, td {
    border: 1px solid black;
    border-collapse: collapse;
    margin: 5px;
    padding: 5px;
    text-align: center; 

  }
