
 table, tr, td, th{
    padding: 10px;
    margin: auto;
}
 body{
    background-image: linear-gradient(rgba(87, 39, 143, 0.623), #85cdf7);
    background-size: cover;
    background-position: center;
    height: 100vh;
    font-family: "Century Gothic", sans-serif;
    color: white;
    text-align: center;
 }
 .styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin-left: auto;
    margin-right: auto;

}

.styled-table thead tr {
    background-color: #1B262C;
    color: #ffffff;
  
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #0F4C75;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #0F4C75;
}
.styled-table tbody tr:nth-of-type(odd) {
    background-color: #3282B8;
}
a{
    text-align: center;
    background-color: #1B262C;
    border: none;
    border-radius: 3px;
    color: white;
    padding: 3px 12px;
    text-decoration: none;
    margin: 2px 2px;
    cursor: pointer;
}
