*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Century Gothic", sans-serif;
    background-image: linear-gradient(rgba(87, 39, 143, 0.623), #85cdf7);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
    
}

.edit{
    width: 320px;
    height: 280px;
    box-shadow: 0 0 30px rgba(40, 113, 196, 0.589);
    background-image: linear-gradient(rgba(96, 224, 247, 0.623), #8241b8);
    color: #000;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    border-radius: 10%;
    padding: 70px 30px;  
}

.edit input{
    width: 100%;
    margin-bottom: 15px;
}

.edit input[type="text"], input[type="number"]
{
    border: none;
    border-bottom: 1px solid  #fff5ff;
    background: transparent;
    outline: none;
    height: 40px;
    font-size: 16px;
    font-family: Serif ;
}

.edit input[type="submit"]
{
    border: none;
    outline: none;
    height: 30px;
    background: #3ca1f3;
    color: #fff5ff;
    font-size: 18px;
    font-family: Serif ;
    border-radius: 12px;
}

.edit input[type="submit"]:hover
{
    cursor: pointer;
    background: #07857e;
    color: #ffffff;
}

